<%= form_for @log_view, :html => { :class => "form-horizontal log_view", multipart: true } do |f| %>

  <% if @log_view.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@log_view.errors.count, "error") %> prohibited this log_view from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @log_view.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :project_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :project_id, :class => 'form-control' %>
    <%= select("log_view", "project_id", Project.all.collect {|p| [ p.project_name, p.id ] }, {include_blank: 'Select'},:class => 'form-control' )%>
    </div>
    <%=f.error_span(:project_id) %>
  </div>
  <div class="form-group">
    <%= f.label :log_type_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :log_type_id, :class => 'form-control' %>
      <%= select("log_view", "log_type_id", LogType.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Select'},:class => 'form-control' )%>
    </div>
    <%=f.error_span(:log_type_id) %>
  </div>
  <div class="form-group">
    <%= f.label :log_file, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :log_file %>
    </div>
    <%=f.error_span(:log_file) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                log_views_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
